.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 450px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 90vh;
        overflow-y: auto;
    }

    h3 {
        margin-bottom: 20px;
        text-align: center;
        font-size: 1.6rem;
        color: #333;
    }

    form {
        width: 100%;

        label {
            display: block;
            margin-bottom: 5px;
        }

        input,
        textarea {
            display: block;
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 1rem;
            outline: none;

            &:focus {
                border-color: #007bff;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }
        }

        .error {
            color: red;
            font-size: 12px;
            margin-top: 2px;
            display: block;
        }

        input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type='number'] {
            -moz-appearance: textfield;
        }
    }


    button {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        margin: 10px 5px;
        width: 45%;
        color: white;

        &:first-of-type {
            background-color: #28a745;
        }

        &:last-of-type {
            background-color: #dc3545;
        }
    }

    .button-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    @media (max-width: 480px) {
        &__content {
            width: 80%;
            max-width: 300px;
        }

        form input {
            font-size: 0.9rem;
        }

        button {
            font-size: 0.9rem;
            width: 48%;
        }
    }
}