.restaurant-list {
    padding: 20px;

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 10px;

        button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 8px 16px;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #0056b3;
            }

            &:disabled {
                background-color: #d6d6d6;
                cursor: not-allowed;
            }
        }

        span {
            font-size: 16px;
            font-weight: 500;
            margin: 0 10px;
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        h2 {
            margin: 0;
        }

        button {
            padding: 10px 20px;
            font-size: 1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
            border: none;
            display: inline-block;



            &:focus {
                outline: none;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }
        }

        .button-add {
            background-color: #007bff;
            color: white;

            &:hover {
                background-color: #0056b3;
            }

            &:focus {
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }
        }

        .right {
            display: flex;
            gap: 10px;
            align-items: center;
            width: 100%;
            justify-content: flex-end;

            .search-bar {
                padding: 10px;
                width: 100%;
                max-width: 300px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
            }

        }
    }

    .restaurant-table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
        }

        td {
            &:last-child {
                display: flex;
                gap: 10px;
            }
        }

        button {
            padding: 10px 20px;
            font-size: 1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
            border: none;
            display: inline-block;



            &:focus {
                outline: none;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }
        }

        .button-edit {
            background-color: #28a745;
            color: white;

            &:hover {
                background-color: #218838;
            }

            &:focus {
                box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
            }
        }

        .button-delete {
            background-color: #dc3545;
            color: white;

            &:hover {
                background-color: #c82333;
            }

            &:focus {
                box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
            }
        }

        .button-details {
            background-color: #007bff;
            color: white;

            &:hover {
                background-color: #0056b3;
            }

            &:focus {
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }
        }
    }

    .add-new-restaurant-label {
        margin-top: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .error-icon {
            height: 25px;
            width: 25px;
        }
    }
}


@media (max-width: 768px) {
    .restaurant-list {
        .header {
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;

            .right {
                justify-content: space-between;
            }

        }
    }

    .restaurant-table {
        display: block;
        overflow-x: auto;

        td {
            &:last-child {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }


    }

}