// src/components/Navbar.scss
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    color: #fff;
    gap: 10px;
    padding: 10px 20px;

    &__logo {
        font-size: 16px;
    }

    &__actions {
        display: flex;
        gap: 15px;

        button {
            background-color: #fff;
            color: #333;
            padding: 8px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s;

            &:hover {
                background-color: #ddd;
            }
        }
    }
}